/* .App {
  text-align: center;
} */

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    padding: 30px 0;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-footer {
    background-color: #18191b;
    /* min-height: 100vh; */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-intro {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*misc*/
#preloader {
    opacity: 0.9;
}

.align-center {
    text-align: center;
}

.row .grid-view {
    margin-bottom: 10px;
}

.row .grid-view .icon-box {
    flex: 1;
}

.about .btn-learn-more {
    margin: 0 5px;
}

.about .btn-learn-more[disabled] {
    opacity: .4;
}

.about .btn-learn-more[disabled]:hover {
    background: inherit;
    color: #47b2e4;
}

.about .counter {
    margin: 10px 0;
    font-size: 10px;
}

.team .member span {
    padding-left: 5px;
}

.team .member span:not(:last-child):after {
    content: ',';
}